include README.md LICENSE
include *.txt
include *.py
include .bumpversion.cfg
include .pylintrc
include pyproject.toml
include pytest.ini
recursive-include images *.gif
recursive-include images *.png
recursive-include tests *.py